%p.bio
                          I am a  #{((Date.today-Date.civil(1996, 9, 19))/365.25).to_i} year old undergraduate at the University of Sheffield studying Software Engineering. I am from Lagos, Nigeria and I
                          am interested in the development of web applications, NLP , ML and Quantitaive Finance. This is my personal blog built for me to talk about my interests and show off my work.

                          This is also my personal space to try out any ideas that I have, so its always under development.
