%p.bio
                          I am a 19 year old undergraduate at the University of Sheffield studying Software Engineering. I am from Lagos, Nigeria and I
                          am interested in building web applications and machine learning. This is my personal blog built for me to talk about my interests and show off my work.
