%p.bio
                          I am a 19 year old undergraduate at the University of Sheffield studying Software Engineering. I am from Lagos, Nigeria and I
                          am interested in development of web applications, NLP , ML and Finance. This is my personal blog built for me to talk about my interests and show off my work.
