%ul.exp
  %li
    %h3 Dowen College Lagos 2006 - 2012
    %ol
      %li 7 IGCSES at grade A* - C
  %li
    %h3 Bosworth Independent College 2013 - 2014
    %ol
      %li Mathematics - A*
      %li Further Mathematics - A
      %li Physics - C
  %li
    %h3 University Of Sheffield 2014 - 2017
    %ol
      %li 2.1
