.chart-container
  %br
  %br


  %ul.horizontal-bar-chart
    %li
      %span.index{:style => "width: 70%"} HTML + CSS
    %br
    %li
      %span.index{:style => "width: 65%"} Python (ML/NLP)
    %br
    %li
      %span.index{:style => "width: 60%"}Vanilla Javascript
    %br
    %li
      %span.index{:style => "width: 45%"} Ruby on Rails
    %br
    %li
      %span.index{:style => "width: 60%"} Node.Js
    %br
    %li
      %span.index{:style => "width: 45%"}React Native
    %br
    %li
      %span.index{:style => "width: 45%"} React
