.chart-container
  %br
  %br


  %ul.horizontal-bar-chart
    %li
      %span.index{:style => "width: 60%"} HTML + CSS
    %br
    %li
      %span.index{:style => "width: 45%"} Python (ML/NLP)
    %br
    %li
      %span.index{:style => "width: 20%"} Plain Javascript
    %br
    %li
      %span.index{:style => "width: 45%"} Ruby on Rails
    %br
    %li
      %span.index{:style => "width: 11%"} Node.Js
    %br
    %li
      %span.index{:style => "width: 11%"} Angular 2
    %br
    %li
      %span.index{:style => "width: 11%"} NativeScript

  %br
  %ul.names
    %br
    %li
      Completed A tutorial
    %li
      Beginner
    %li
      Competent
    %li
      Built Multiple projects
    %li
      Advanced
    %li
      I teach others
