-  content_for :title, "About Me"
- @sticky_footer = false
= stylesheet_link_tag "application", media: :all
= stylesheet_link_tag  "me", media: :all
= javascript_include_tag "application"
= javascript_include_tag "graph"



%div.container-fluid.buffered-top

        %h2.col-xs-12.col-sm-6.col-md-8.move I'm Omorhefere O. Imoloame (Efe).

        %a.link{:href => "https://github.com/omorhefere",:target => "_blank"}
                %i.fa.fa-github.fa-2x
        %a.link{:href => "https://www.linkedin.com/in/omorhefere-imoloame-025119a3",:target => "_blank"}
                %i.fa.fa-linkedin-square.fa-2x
        %a.link{:href => "https://www.facebook.com/imoloame",:target => "_blank"}
                %i.fa.fa-facebook.fa-2x
        %a.link{:href => "mailto:efeimoloame@icloud.com",:target => "_blank"}
                %i.fa.fa-envelope.fa-2x
        %a.link{:href => "https://drive.google.com/file/d/0B6V2rAfhcrRXcThnNkdlYjlqUGs/view?usp=sharing",:target => "_blank",:alt=>"cv"}
                %i.fa.fa-file.fa-2x
        %ul.nav.nav-pills.nav-justified.col-md-6.pill
                %li#one.pill
                        %a{"data-toggle" => "tab", :href => "#"}Biography
                %li#two.pill{"data-toggle" => "tab"}
                        %a{:href => "#"} Experience
                %li#three.pill{"data-toggle" => "tab"}
                        %a{:href => "#"} Skills
                #biography.tab-pane
                        =render 'biography'
                #skills.tab-pane
                        =render 'skills'
                #experience.tab-pane
                        =render 'experience'
