// Place all the styles related to the Me controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Roboto:400+700)
.move
  margin-left: 30%
.bio,.exp
  margin-left: 17.5%
  width: 75%
  text-align: justify
  margin-bottom: 10%
  margin-top: 5%

.fa-github, .fa-linkedin-square, .fa-envelope, .fa-facebook, .fa-file
  color: black
  margin-bottom: 2.5%
  margin-top: 2.5%

.fa-github
  margin-left: 43.2%
.fa-linkedin-square,.fa-envelope, .fa-facebook,.fa-file
  margin-left: 1.5%
.exp
  margin-left: 30%

h1
  color: black

.single-post .entry-content ul li
  margin-bottom: 0


.single-post .entry-content ul
  padding: 0


.chart-container
  margin: 0 auto
  max-width: 80%
  min-width: 320px
  padding: 0 1em


.horizontal-bar-chart
  float: left
  width: 100%
  margin-bottom: 2.5%


.horizontal-bar-chart li
  position: relative
  display: block
  _zoom: 1
  height: 2em
  margin-bottom: .2em
  background: #ebebeb

.horizontal-bar-chart p
  color: black
  position: relative
  display: block
  _zoom: 1
  margin: 0 0 .9em 0
  text-indent: .6em

.horizontal-bar-chart .name
  display: block
  position: absolute
  top: 0
  right: 0
  margin: 0 1em
  text-align: right
  color: #999
  font-weight: bold
  font-size: 0.875em
  line-height: 2em
  text-shadow: 1px 1px 0px #e8e8e8


.horizontal-bar-chart .index
  display: block
  position: absolute
  top: 0
  left: 0
  height: 100%
  text-indent: .6em
  font-size: 0.875em
  font-weight: bold
  color: #ffffff
  background: black
  line-height: 2.2em
  text-shadow: 1px 1px 0px #595959



.chart-container .source
  font-size: .8em
  padding-top: 4.5em
  text-align: center

.names  li
  margin-top: 5%
  display: inline
  margin-left: 3%
  font-size: 117%
