

//Article image
.style_image
  width: 100%
  height: 20%
  margin-top: 4%
  margin-bottom: 4%

// Paragraph text
p.text1
  font-size: 200%
  text-align: justify
  margin-bottom: 5%
  white-space: pre-wrap

// Paragraph time
p.time
  padding-top: 2%
  font-size: 30%
  margin-left: 8%
.jumbotron
  background-color: white

// Buffered top (top of page)

.move
  margin-left: 17%
h2.move

.social-share-button
  margin-left: 14%
  margin-top: 6%
  margin-bottom: 5%
  .ssb-icon
    background-size: 60px 60px
    height: 60px
    width: 60px
    border-radius: 30px
    margin-left: 4.5%

.social-share-button-facebook .social-share-button-email .social-share-button-linkedin .social-share-button-tumblr


$breakpoint-tablet: 768px
$breakpoint-mobile: 568px

@media (min-width: $breakpoint-tablet)
  h1.name1
    font-size: 350%
    margin-left: 35%



@media (max-width: $breakpoint-mobile)
  .page-header
    .jumbotron.jtron
      width: 120%

  .social-share-button

    .ssb-icon
      background-size: 30px 30px
      height: 30px
      width: 30px
      border-radius: 30px
      margin-left: 4.5%
  p.text1
    font-size: 105%
  h1.name1
    font-size: 250%
    margin-left: 27%
